/* Navigation
/* ==================================================== */
	.top-bar,
	.main-navigation {
		border-bottom-color: #08b0aa;
	}
	.main-menu li.current-menu-item > a {
		background: #08b0aa;
	}
	.top-menu > li > ul,
	.main-menu > li > ul {
		border-top-color: #08b0aa;
	}

/* Primary Color
/* ==================================================== */
	a,
	.newsticker-content ul li a:hover,
	.bottom-nav .social-links .icon-shuffle,
	.widget-top-carousel .top-carousel-title:hover,
	.widget-post-slider .post-slider-1 .slider-caption .slider-title a:hover,
	.widget-post-slider .post-slider-2 .slider-caption .slider-title a:hover,
	.widget-latest-post .post-title a:hover,
	.widget-newsbox-carousel .newsbox-carousel-title:hover,
	.widget-newsbox .newsbox-post-item .post-title a:hover,
	.widget-links li a:hover,
	.widget-blog .blog-grid .blog-post-item .post-title a:hover,
	.widget-blog .blog-list .post-title a:hover,
	.widget-blog .blog-conventional .post-title a:hover,
	.widget_categories ul li a:hover,
	.widget_archive ul li a:hover,
	.widget_recent_comments ul li a:hover, 
	.widget_recent_entries ul li a:hover,
	.widget_recent_comments ul li .url,
	.widget_pages ul li a:hover,
	.widget_meta ul li a:hover,
	.post-title:hover,
	.author-info h3,
	.comments-area .comments-heading .title,
	.post-navigation a:hover,
	.comment-post-title {
		color: #ff564b;
	}

	/* Primary Color: Background */
	.bottom-nav .social-links .icon-shuffle:hover,
	.widget-top-carousel .top-carousel-pagination-inner .selected,
	.widget-top-carousel .top-carousel-pagination-inner .selected:hover,
	.review-area .overall,
	.tagcloud a {
		background: #ff564b;
	}

	/* Primary Color: Border */
	.widget-flickr img:hover,
	.footer-widget-area .widget-flickr img:hover,
	.widget-social-counter .social-counter .social-counter-item:hover,
	blockquote,
	.author-info .avatar,
	.widget-archive .archive-title .avatar {
		border-color: #ff564b;
	}
	table th {
		border-bottom-color: #ff564b;
	}

	/* Primary COlor : Important */
	.footer-widget-area a:hover {
		color: #ff564b !important;
	}

/* Review Color Star
/* ==================================================== */
	.review-star .star-active {
		background-color: #ff564b;
	}

/* Newsticker
/* ==================================================== */
.newsticker-heading h3 {
	color: #ff564b;
}

/* Fonts
/* ==================================================== */	
	body {
		font-family: "Signika", Sans-serif;		
		font-size: 13px;		
		background-image: url(../img/textured_paper.png);
		line-height: 1.618;
	}	
	.main-navigation,
	.newsticker-heading h3,
	.floated-navigation,
	.widget-title,
	.tabs .tab-header,
	.widget-archive .archive-title h3,
	.author-info h3,
	.related-post h3,
	.comments-area .comments-heading,
	#respond h3,
	.review-area .review-heading {
		font-family: "Oswald", Sans-serif;
	}
	.site-header .main-header,	
	.site-header .top-bar,
	.site-top-content,
	.site-main,
	.site-bottom-content,
	.site-footer .footer-widget-area,
	.site-footer .footer-copyright{
		padding-left: 15px;
		padding-right: 15px;
	}
	.site-header .main-navigation,
	.site-header .bottom-nav {
		margin-right: 15px;
		margin-left: 15px;
	}